<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ '/images/sigea 48x48.png' | relative_url }}">
    <link rel="stylesheet" href="{{ '/style.css' | relative_url }}?v=1.0.3">
    <title>{{ page.title }} | Sigea</title>
    {% seo %}
</head>
<body>

<header class="site-header">
    <div class="header-container">
        <a href="{{ '/' | relative_url }}" class="brand-box">
            <img src="{{ '/images/sigea 48x48.png' | relative_url }}" alt="Sigea Logo" class="logo">
            <h1 class="site-title">SIGEA</h1>
        </a>
        <nav class="site-nav">
            <a href="{{ '/' | relative_url }}">Home</a>
            <a href="{{ '/products' | relative_url }}">TIDE</a>
            <a href="{{ '/blog' | relative_url }}">Blog</a>
            <!-- <a href="{{ '/about' | relative_url }}">About</a> -->
        </nav>
    </div>
</header>

<main class="content-section">
    {{ content }}
</main>

<div class="footer-container">
    <footer class="footer">
        <p>&copy; {{ "now" | date: "%Y" }} Sigea.</p>
    </footer>
</div>

</body>
</html>